{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Spider{% endblock %}

{% block page_content %}
<p><img src="/static/spider.png" width="200" height="200"> <font size="6" face="arial" >SharePoint to Splunk Auto Onboarding</font></p>

<form method="POST">
 {{ form.csrf_token }}
	<fieldset>
		<legend><i>Common Settings</i></legend>
		<table>
			<tr><td><div id="acodeTips" class="tips"><span class="txt-tips">{{form.software_product.label}}</span><div></td><td>{{form.software_product( class="form-control",placeholder="MSM89xx.LA.1.0")}}</td><td><font color='red'>*</font></td></tr>
			<tr><td>{{form.requester.label}} </td><td>{{form.requester(class="form-control",placeholder='xxx@qti.qualcomm.com')}}</td><td><font color='red'>*</font></td></tr>
			</table>
	</fieldset>
	<br/>
	<fieldset>
		<legend><i>Sharepoint Settings</i></legend>
		<table>
			<tr><td>{{form.sharepoint_server.label}}</td><td>{{form.sharepoint_server(class="form-control")}}</td></tr>
			<tr><td>{{form.sharepoint_path.label}}</td><td>{{form.sharepoint_path(class="form-control")}}</td><td><font color='red'>*</font></td></tr>
		</table>
	</fieldset>
	<br/>
	<fieldset>
		<legend><i>Splunk Settings</i></legend>
		<table>
			<tr><td>{{form.milestone_name.label}}</td><td>{{form.milestone_name(class="form-control")}}</td><td><font color='red'>*</font></td></tr>
			<tr><td>{{form.test_cycle.label}}</td><td>{{form.test_cycle(class="form-control")}}</td><td><font color='red'>*</font></td></tr>
		</table>
	</fieldset>
	<br/>
	<table><tr><td>{{form.submit(class="btn btn-primary" )}}</td><td><a class="btn btn-primary" href="{{ url_for('.history') }}">View Onboard History</a> </td></tr></table>
</form>
{% endblock %}
